body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url(img/fondoLago.jpg);
    background-size: cover;
}

/* ------------ Header ------------ */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: rgb(212, 179, 108);
    backdrop-filter: blur(10px);
    opacity: 80%;
    background: rgba(255, 255, 255, 0.1);
}
.header .logo{
    cursor: pointer;
}
.header .logo img{
    height: 60px;
    width: auto;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.2);
}

nav a {
    color: rgb(212, 179, 108);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}

/* ------------ Main ------------ */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    height: 100%;
    align-items: flex-end;
    padding-bottom: 20px;
}

.card {
    width: 300px;
    perspective: 1000px;
    margin: 0 30px;
}

.name {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 60px;
    font-weight: bold;
    z-index: 1;
}
.card-inner {
    position: relative;
    width: 100%;
    height: 200px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.card:hover .card-inner {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
.card-front {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: rgb(246, 246, 246);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, background 0.3s ease;
}
.card-front:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}
.card-back {
    background-color: rgba(240, 240, 240, 0.8);
    color: black;
    transform: rotateY(180deg);
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
} 
.card-back ul {
    list-style: none;
    padding: 0;
} 
.card-back li {
    margin-bottom: 10px;
}

/* ------------ Sección completaViaje ------------ */
.completaViaje {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.completaViaje h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(212, 179, 108);
}
.completaViaje .card-cont {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    flex-wrap: nowrap;
}
.completaViaje .card {
    width: 300px; 
    perspective: 1000px;
}
.completaViaje .card-inner {
    position: relative;
    width: 100%;
    height: 200px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.completaViaje .card:hover .card-inner {
    transform: rotateY(180deg);
}
.completaViaje .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
.completaViaje .card-front {
    background-color: #333;
    background-image: url(img/fondoMiniCards.jpeg);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
}
.completaViaje .card-back {
    background-color: #f0f0f0;
    color: black;
    transform: rotateY(180deg);
    font-size: 16px;
    text-align: center;
}
.completaViaje .card-back a {
    margin-top: 10px;
    color: #ff6600;
    text-decoration: none;
    font-weight: bold;
}
.completaViaje .card-back a:hover {
    text-decoration: underline;
}

/* ------------ Footer ------------ */
.footer {
    background-color: rgb(3, 4, 8);
    padding: 20px 50px;
    color: rgb(212, 179, 108);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.company-name {
    font-size: 20px;
    font-weight: bold;
}
.social-media a {
    margin-left: 20px;
    color: rgb(212, 179, 108);
    text-decoration: none;
    font-size: 18px;
}
.social-media a:hover {
    text-decoration: underline;
}